.pokemon-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.pokemon-list__card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 15px;
	padding: 15px;
	width: 250px;
	background-color: var(--white);
	color: var(--dark);
	border-radius: 10px;
	transition: transform .25s ease-out,-webkit-transform .25s ease-out;
	cursor: pointer;
}

.pokemon-list__card:hover {
	transform: scale(1.05);
}

.pokemon-list__card img {
	height: 150px;
}