.pokemon-search {
	font-size: 20px;
	color: var(--cyan);
	display: flex;
	align-items: center;
	border-bottom: 1px solid var(--cyan);
}

.pokemon-search input {
	background: transparent;
	border: none;
	margin-left: 10px;
	color: var(--cyan);
	width: 280px;
	height: 40px;
	font-size: 16px;
	font-family: 'Gugi';
}

.pokemon-search input::placeholder {
	color: var(--cyan);
}

.pokemon-search input:focus,
.pokemon-search input:active {
	outline: none;
}